---
import Layout from "~/layouts/Layout.astro";

export const getStaticPaths = () => {
	const range = (start: number, end: number) =>
		[...Array(end - start + 1).keys()].map((k) => k + start);

	const paths = range(0, 2**21).map((bookId) => ({ params: { bookId: `${bookId}` } }));

	return paths;
};

const { bookId } = Astro.params;
---

<Layout>
    <h1>Book {bookId}</h1>
</Layout>
