<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <title>example-astro-limit</title>
    </head>
    <body>
        <slot />
    </body>
</html>
